<div id="all-items" class="items-container" [style.marginLeft]="-(this.tabsService.activeTap - 1) * 100 + '%'">
    <div id="all-items-container">
        <span class="no-items-message">No Items</span>
    </div>
</div>

<div id="active-items" class="items-container">
    <div id="active-items-container">
        <span class="no-items-message">No Items</span>
    </div>
</div>

<div id="completed-items" class="items-container">
    <div id="completed-items-container">
        <span class="no-items-message">No Items</span>
    </div>
</div>