Programul_pentru_efectuarea_operațiilor_aritmetice_de_baza_102851.pdf
Program_pentru_calcularea_volumului_cilindrului_102850.pdf
Un_mini_site_HTML_102810.pdf
Imbunatatirea_mini_site-ului_HTML_102811.pdf
Utilizarea_selectorilor_CSS_avansati_102820.pdf
Animatie_102821.pdf
Crearea_unei_galerii_responsive__102822.pdf
Crearea_layoutului_unui_site_folosind_Bootstrap_102907.pdf